<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCr_V_XML3qd0snlzDv_lw2pF5Ny7VP7po</string>
	<key>GCM_SENDER_ID</key>
	<string>122811449387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.liworayot</string>
	<key>PROJECT_ID</key>
	<string>mews-project</string>
	<key>STORAGE_BUCKET</key>
	<string>mews-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122811449387:ios:646d37edb837772dc96a6e</string>
	<key>DATABASE_URL</key>
	<string>https://mews-project-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>